$p-color: #404040;
$red: #ee8879;
$green: #CBD3A4;
$primary-font: 'Avenir-Medium';
$hw-font: 'Juniper and Sage';
 

@mixin xs-max {
  @media (max-width: 383.98px) {
    @content;
  }
}
@mixin sm-max {
  @media (max-width: 480.98px) {
    @content;
  }
}
@mixin mobile-max {
  @media (max-width: 575.98px) {
    @content;
  }
}
@mixin tab-min {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin tab-max {
  @media (max-width: 767.98px) {
    @content;
  }
}
@mixin md-min {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin md-max {
  @media (max-width: 991.98px) {
    @content;
  }
}
@mixin lg-min {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin lg-max {
  @media (max-width: 1199.98px) {
    @content;
  }
}
@mixin rwd-min($width) {
  @media (min-width:$width + px) {
    @content;
  }
}
@mixin rwd-max($width) {
  @media (max-width:$width + px) {
    @content;
  }
}

